{
  "presets": [
    "next/babel",
    "@linaria"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "runtime": "automatic"
      },
      "dynamic-import-node"
    ]
  ]
}